/*
    Leerlijn: webdevelopment
    Docent: Frits Bosschert
    Student: Armand van Alphen
 */

html, body, main, header {
    margin: 0;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body, header {
    padding: 0px;
}

main {
    padding: 0 30px;
}

header {
    margin: 0;
    padding: 20px 30px;
    background-color: #000080;
    /* min-height: 60px; */
}

header > h1 {
    margin: 0px;
    color: white;
}

header > #main-nav {

}

header > #main-nav > ul {
    margin-top: 10px;
    list-style: none;
    float: right;
}

header > #main-nav > ul > li {
    padding: 0 9px 0 0;
}

header > #main-nav > ul > li > a {
    text-decoration: none;
    color: white;
}

header > #main-nav > ul > li > a:hover {
    color: #aaa;
}

/* main {
    padding: 0;
    max-width: 99.99vw;
    margin: 0;
} */
