/*
    Leerlijn: webdevelopment
    Docent: Frits Bosschert
    Student: Armand van Alphen
 */

form {
    margin-top: 15px;
    width: 50vw;
    position: relative;
    left: 0%;
    transition: translate-x(25vw);
}

.table {
    border-collapse: collapse;
}

.table td,
.table th {
    border: solid 1px black;
    padding: 10px;
}

.invalid {
    background-color: #faa
}

.valid {
    background-color: #afa
}
