/*
    Leerlijn: webdevelopment
    Docent: Frits Bosschert
    Student: Armand van Alphen
 */

.img,
.img-background {
    margin-top: 30px;
}


.img > img {
    max-width: 50vw;
    position: relative;
    width: 50%;
    left: 0;
    transform: translatex(calc(100% - 75%) );
}

.img > svg {
    height: 40vw;
    position: relative;
}

.img-background > div {
    background-image: url("../assets/images/the_fields.jpg");
    background-size: cover;
    height: 100px;
    width: 100%;
}
