/*
    Leerlijn: webdevelopment
    Docent: Frits Bosschert
    Student: Armand van Alphen
 */

.buttonGroup {
    padding-left: 15px;
    padding-right: 0px;
}

#colorWheel {
    max-width: calc(100vh - 150px);
    border:1px black solid
}

.buttonconstainer,
.canvascontainer {
    margin-left: calc(100% / 6);
    margin-right: calc(100% / 6);
}
